In [4]:
import pandas as pd

# Inputs Script
This will first find a random entry from the inputs for the testing data set, then find the nuclide vector belonging to the entry. After saving this information to a CSV file, an input file will be generated with the nuclide vector being the final inventory.

## Random Entry

In [26]:
pkl = 'orxtr_for_indepth_8dec.pkl'
df = pd.read_pickle(pkl)
df.sample(5)

,Burnup,CoolingTime,Enrichment,OrigenReactor,ReactorType,ba138,ce140,ce142,ce144,cs133,...,xe131,xe132,xe134,xe136,y89,zr91,zr92,zr93,zr94,zr96
1.500e+02.1,3000,0.000694,1.5,ge8x8-1,bwr,0.9091,0.7275,0.7834,NaN,0.852,...,NaN,0.5879,1.067,1.476,0.3588,0.4084,0.789,0.8346,0.8568,0.8516
3.300e+02,9000,30.000000,1.5,s14x14,pwr,2.6860,2.4950,2.3060,NaN,2.656,...,NaN,1.9090,3.178,4.669,1.4680,1.7540,2.249,2.4040,2.4760,2.4860
3.592e+03,39000,2292.000000,5.0,ce16x16,pwr,10.9100,10.2400,9.0360,NaN,9.717,...,NaN,10.3100,13.230,19.560,5.2720,6.8440,7.486,8.3150,8.9520,9.4890
2.130e+03,42000,30.000000,1.5,atrium9x9-9,bwr,11.9000,11.1700,9.8750,NaN,10.400,...,NaN,11.1300,14.350,21.920,5.9080,7.5550,8.402,9.2570,9.9130,10.3800
3.692e+03,42000,2292.000000,1.5,w15x15,pwr,11.8800,11.2200,9.8700,NaN,10.410,...,NaN,11.1600,14.350,22.540,5.9260,7.6300,8.320,9.1830,9.8580,10.3400

## Nuclide Vector

## Formatting for INDEPTH

## Automate input file

In [ ]:
"""
titl=Test INDEPTH with Atrium 10x10
arplib=atrium10x10-9
type=standard
libr=acti fipr end
enrich=4.0
ncyc=1
mod=0.72
reload=no
gamunc=3
calc=0
ini=0
burn=2 1 20 0.1
read components
    initial= U 100.0
    final= final_nuc.csv
end components
read history
    power=20 burn=750 down=1115.25 end
end history
read optimize
    itmax=1 bmin=9000 bmax=60000 alpha=1.0 sse=standard end
    params= ??? end
end optimize
"""